@use "../../assets/styles/variables";

.Word__list {
  margin: 40px 0 60px;
}
.Word__item {
  display: grid;
  grid-template-columns: 1fr 250px;
  padding: 10px;
  &:nth-of-type(odd){
    background-color: variables.$colorLightGrey;
  }
}

.Word__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.Word__input-wrap {
  input {
    display: none;
  }
  span {
    display: block;
  }
}


.Word__edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}