@use "../../assets/styles/variables";

.Word__list {
  margin-bottom: 60px;
}
.Word__list-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 200px;
  padding: 10px;
  background-color: variables.$colorLightGrey;
  font-weight: bold;
  div {
    &:last-of-type {
      text-align: end;
    }
  }
}
.Word__item {
  display: grid;
  grid-template-columns: 1fr 200px;
  padding: 10px;
  &:nth-of-type(even){
    background-color: variables.$colorLightGrey;
  }
}

.Word__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.Word__input-wrap {
  position: relative;
  margin-right: 20px;
  input {
    //display: block;
    //position: absolute;
    //left: 0;
    //top: -5px;
    z-index: 2;
    padding: 5px;
    border: 1px solid variables.$colorLightGrey;
    background-color: variables.$colorWhite;
  }
  span {
    display: block;
    padding: 5px;
    border: 1px solid transparent;
  }
}


.Word__edit {

}
.Word__edit-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}