@use "../../assets/styles/variables";

.btn {
  display: block;
  width: fit-content;
  padding: 5px 10px;
  border: 0;
  border-radius: variables.$borderRadius;
  background-color: variables.$colorNeonBlue;
  color: variables.$colorBlack;
  font-size: 18px;
  cursor: pointer;
  //transition: variables.$transitionTime;
  &:hover {
    background-color: variables.$colorGreen;
    opacity: initial;
  }
  &:focus {
    outline: none;
  }
}
