@use "../../assets/styles/variables";
.card__slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}
.card__list {
  position: relative;
  overflow: hidden;
  display: grid;
  //grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 20px;
  height: 280px;
  margin-bottom: 20px;
  justify-items: center;
}

.card__item {
  display: grid;
  position: absolute;
  height: 280px;
  max-width: 240px;
  width: 100%;
  align-items: end;
  padding: 40px 20px;
  border-radius: variables.$borderRadiusCard;
  background-color: variables.$colorLightGrey;
  text-align: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: variables.$transitionTime;
  &.js_active {
    opacity: 1;
    visibility: visible;
    transform: variables.$transformRotate;
  }
}

.card__word {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  transform: variables.$transformRotate;
}
.card__transcription {
  color: variables.$colorDarkGrey;
  transform: variables.$transformRotate;
}
.card__btn-wrap {
  position: relative;
  transform: variables.$transformRotate;
  .btn {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    &.js_hidden {
      opacity: 0;
      z-index: -1;
    }
  }
}
.card__translation {
  display: block;
  position: absolute;
  width: 100%;
  top: 7px;
  left:0;
  z-index: 0;
  text-align: center;
}

.card__arrows {
  display: block;
  position: absolute;
  width: 100%;
  top: 120px;
  button {
    position: absolute;
    top: 0;
    &:before {
      content: "";
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      background: url("../../assets/images/icons/arrow.svg");
    }
    &:first-of-type {
      right: calc(50% + 200px);
      &:before {
        transform: rotate(180deg);
      }
    }
    &:last-of-type {
      left: calc(50% + 200px);
    }
  }
}

.card__counter {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}