.SearchForm {
  display: flex;
  .form__input {
    padding-left: 0;
  }
}
.SearchForm__btn-wrap {
  position: relative;
  width: 35px;
  height: 35px;
  input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}