.wrapper_error-page {
  min-height: calc(100vh - 200px);
  display: grid;
  align-items: center;
  text-align: center;
}
.title_error-page {
  margin-bottom: 10px;
  line-height: 1;
  font-size: 165px;
}