@use "../../assets/styles/variables";

.Header {
  padding: 5px 0;
  background-color: variables.$colorLightGrey;
}
.Header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}