@use "../../assets/styles/variables";

.Footer {
  padding: 20px 0 10px;
  background-color: variables.$colorLightGrey;
}
.Footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}