@use "../../assets/styles/variables";

.footer {
  padding: 10px 0;
  background-color: variables.$colorLightGrey;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}