@use "../../../assets/styles/variables";

.btn_edit {
  display: flex;
  align-items: center;
  margin: 0 0 0 5px;
  font-size: 14px;
  svg {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    path {
      fill: variables.$colorBlack !important;
    }
  }
}