@use "variables";

.form__input {
  display: block;
  width: 100%;
  padding: 5px 10px 5px 0;
  border: 0;
  border-bottom: 1px solid variables.$colorGrey;
  background-color: transparent;
  font-size: 16px;
  font-family: variables.$font;
}
.form__input:focus,
.form__input:focus-visible,
.form__select:focus,
.form__select:focus-visible,
.input__radio:focus,
.input__radio:focus-visible,
.form__textarea:focus,
.form__textarea:focus-visible {
  outline: 0;
  border-color: variables.$colorNeonBlue;
}

.form__error {
  margin-top: 5px;
  font-size: 14px;
  color: variables.$colorDarkGrey;
}