//colors
$colorBlack:              #1D1D1D;
$colorWhite:              #ffffff;
$colorLightGrey:          #eeeeee;
$colorGrey:               #C1C1C1;
$colorBlue:               #d4fbff;
$colorViolet:             #4e5685;
//$colorNavy:               #6dc9f7;
$colorPink:               #fa759e;

$colorRed:                #f42f42;
$colorGreen:              #2ff489;
$colorNeonBlue:           #2fbbf4;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
$font:                    'Roboto Condensed', sans-serif;

//sizes
$borderRadius:              3px;
